@{
    Layout = "";
}
<link rel="stylesheet" href="~/css/main.css" />
<link rel="stylesheet" href="~/css/normalize.css" />
<link rel="stylesheet" href="~/css/room/room.css" />
<body class="background-itstep">
    <div class="form-box-container">
        <div class="wrapper">

            <div class="form-group">
                <div class="image-container"><img class="image-logo" src="~/images/logo.svg" /></div>
                <form>
                    <input
                           class="inp"
                           placeholder="номер комнаты"
                           type="text"
                           autocomplete="off" />
                    <div class="btn-wrapper">
                        <button type="submit">найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>